Cleaning Data for visualizations/PostGres/and ML

To Do:
check column
check for NAN values
check data types for columns 
in stock data df 
drop adjusted close
timeline of volume performance
in company data cut down to 20 stocks check sector and industries to see how many times represented
in company data drop ebitda,marketcap,Marketcap,Ebitda	Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weigh
t

In [2]:
#Importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go

In [3]:
#importing stock data 
stock_data_df = pd.read_excel('Raw Data/Random 20 S&P500 Stock Data.xlsx')
stock_data_df.head(10)

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2022-12-30,ADBE,336.529999,336.529999,336.640015,331.640015,333.000000,1740300.0
1,2022-12-30,MO,45.709999,45.709999,45.990002,45.419998,45.860001,5025200.0
2,2022-12-30,AMZN,84.000000,84.000000,84.050003,82.470001,83.120003,62330000.0
3,2022-12-30,AMD,64.769997,64.769997,64.820000,63.139999,63.770000,37099800.0
4,2022-12-30,AAL,12.720000,12.720000,12.830000,12.530000,12.550000,18976200.0
5,2022-12-30,AAPL,129.929993,129.929993,129.949997,127.430000,128.410004,76960600.0
6,2022-12-30,T,18.410000,18.410000,18.480000,18.219999,18.420000,26200800.0
7,2022-12-30,BLK,708.630005,708.630005,712.909973,698.359985,708.289978,413000.0
8,2022-12-30,EA,122.180000,122.180000,122.330002,120.790001,121.779999,1164400.0
9,2022-12-30,EQIX,655.030029,655.030029,665.349976,648.229981,659.359985,268500.0

In [4]:
#importing company data
company_data_df = pd.read_excel('Raw Data/cleaned 20 companies name.xlsx')
company_data_df.head()

,Exchange,Symbol,Shortname,Sector,Industry
0,NMS,AAPL,Apple Inc.,Technology,Consumer Electronics
1,NMS,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail
2,NYQ,JPM,JP Morgan Chase & Co.,Financial Services,Banks鈥擠iversified
3,NMS,ADBE,Adobe Inc.,Technology,Software鈥擨nfrastructure
4,NYQ,T,AT&T Inc.,Communication Services,Telecom Services

In [5]:
#checking data types
stock_data_df.dtypes

Date         datetime64[ns]
Symbol               object
Adj Close           float64
Close               float64
High                float64
Low                 float64
Open                float64
Volume              float64
dtype: object

In [6]:
#stock data clean up in the rows that follow
stock_data_df.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2022-12-30,ADBE,336.529999,336.529999,336.640015,331.640015,333.000000,1740300.0
1,2022-12-30,MO,45.709999,45.709999,45.990002,45.419998,45.860001,5025200.0
2,2022-12-30,AMZN,84.000000,84.000000,84.050003,82.470001,83.120003,62330000.0
3,2022-12-30,AMD,64.769997,64.769997,64.820000,63.139999,63.770000,37099800.0
4,2022-12-30,AAL,12.720000,12.720000,12.830000,12.530000,12.550000,18976200.0

In [7]:
#checking symbol unique values
unique_symbols = stock_data_df["Symbol"].unique()
unique_symbols

array(['ADBE', 'MO', 'AMZN', 'AMD', 'AAL', 'AAPL', 'T', 'BLK', 'EA',
       'EQIX', 'ABC', 'JPM', 'MU', nan, 'F', 'GD', 'GPN', 'GS', 'HCA',
       'HSY', 'IBM'], dtype=object)

In [8]:
#checking for nan values
stock_data_df.isnull().sum()

Date         2629
Symbol       2629
Adj Close    2629
Close        2629
High         2629
Low          2629
Open         2629
Volume       2629
dtype: int64

In [9]:
#Null values confirmed as spacing. Dropping the null values
stock_data_df.dropna(inplace=True)
stock_data_df.isnull().sum()

Date         0
Symbol       0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

In [ ]:
#dropping Adj Close column since it is a very close duplicate of the closing price column
stock_data_df = stock_data_df.drop("Adj Close",axis=1)

In [13]:
#checking to make sure column dropped correctly 
stock_data_df.head()

,Date,Symbol,Close,High,Low,Open,Volume
0,2022-12-30,ADBE,336.529999,336.640015,331.640015,333.000000,1740300.0
1,2022-12-30,MO,45.709999,45.990002,45.419998,45.860001,5025200.0
2,2022-12-30,AMZN,84.000000,84.050003,82.470001,83.120003,62330000.0
3,2022-12-30,AMD,64.769997,64.820000,63.139999,63.770000,37099800.0
4,2022-12-30,AAL,12.720000,12.830000,12.530000,12.550000,18976200.0

In [14]:
#dropping company data colummns
company_data_df.head()

,Exchange,Symbol,Shortname,Sector,Industry
0,NMS,AAPL,Apple Inc.,Technology,Consumer Electronics
1,NMS,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail
2,NYQ,JPM,JP Morgan Chase & Co.,Financial Services,Banks鈥擠iversified
3,NMS,ADBE,Adobe Inc.,Technology,Software鈥擨nfrastructure
4,NYQ,T,AT&T Inc.,Communication Services,Telecom Services

In [12]:
#dropping uneeded columns
#company_data_df = company_data_df.drop(["Ebitda","Marketcap", "Revenuegrowth","City","State","Country","Fulltimeemployees","Longbusinesssummary","Weight"], axis=1)

In [13]:
#dropping long name column and current price
#company_data_df = company_data_df.drop(["Longname","Currentprice"],axis=1)

In [15]:
#checking new df
company_data_df.head(10)

,Exchange,Symbol,Shortname,Sector,Industry
0,NMS,AAPL,Apple Inc.,Technology,Consumer Electronics
1,NMS,AMZN,"Amazon.com, Inc.",Consumer Cyclical,Internet Retail
2,NYQ,JPM,JP Morgan Chase & Co.,Financial Services,Banks鈥擠iversified
3,NMS,ADBE,Adobe Inc.,Technology,Software鈥擨nfrastructure
4,NYQ,T,AT&T Inc.,Communication Services,Telecom Services
5,NYQ,IBM,International Business Machines,Technology,Information Technology Services
6,NYQ,GS,"Goldman Sachs Group, Inc. (The)",Financial Services,Capital Markets
7,NMS,AMD,"Advanced Micro Devices, Inc.",Technology,Semiconductors
8,NYQ,BLK,"BlackRock, Inc.",Financial Services,Asset Management
9,NYQ,HCA,"HCA Healthcare, Inc.",Healthcare,Medical Care Facilities

In [16]:
#checking column datatypes
company_data_df.dtypes

Exchange     object
Symbol       object
Shortname    object
Sector       object
Industry     object
dtype: object

In [17]:
#checking company df for null values
company_data_df.isnull().sum()

Exchange     0
Symbol       0
Shortname    0
Sector       0
Industry     0
dtype: int64

In [18]:
#checking size for both df for database storage
company_data_df.shape

(20, 5)

In [19]:
stock_data_df.shape

(52730, 7)

In [20]:
#How many different sectors do we have in our random 20 pick?
sector_amount = company_data_df.groupby(["Sector"]).count()["Symbol"]
sector_amount

Sector
Communication Services    2
Consumer Cyclical         2
Consumer Defensive        2
Financial Services        3
Healthcare                2
Industrials               3
Real Estate               1
Technology                5
Name: Symbol, dtype: int64

In [21]:
#How many different industries? 
industry_count = company_data_df.groupby(["Industry"]).count()["Symbol"]
industry_count.head(20)

Industry
Aerospace & Defense                1
Airlines                           1
Asset Management                   1
Auto Manufacturers                 1
Banks鈥擠iversified                  1
Capital Markets                    1
Confectioners                      1
Consumer Electronics               1
Electronic Gaming & Multimedia     1
Information Technology Services    1
Internet Retail                    1
Medical Care Facilities            1
Medical Distribution               1
REIT鈥擲pecialty                     1
Semiconductors                     2
Software鈥擨nfrastructure            1
Specialty Business Services        1
Telecom Services                   1
Tobacco                            1
Name: Symbol, dtype: int64

In [22]:
#Average stock performance based on symbol
avg_stock = stock_data_df.groupby(["Symbol"]).mean()["Close"]
avg_stock

Symbol
AAL      30.185787
AAPL     53.898855
ABC      88.848168
ADBE    207.179605
AMD      28.259612
AMZN     65.779927
BLK     437.345855
EA       80.928053
EQIX    410.577556
F        12.449593
GD      149.762727
GPN      93.830867
GS      210.180890
HCA     101.399273
HSY     114.510829
IBM     149.904635
JPM      88.005787
MO       49.620156
MU       35.979669
T        25.526337
Name: Close, dtype: float64