Cleaning Data for visualizations

In [4]:
#Importing libraries
import pandas as pd
import matplotlib.pyplot as plt

In [22]:
#importing stock data 

stock_data_df = pd.read_excel('Raw Data/Random 20 S&P500 Stock Data.xlsx')
stock_data_df.head(10)

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2022-12-30,ADBE,336.529999,336.529999,336.640015,331.640015,333.000000,1740300.0
1,2022-12-30,MO,45.709999,45.709999,45.990002,45.419998,45.860001,5025200.0
2,2022-12-30,AMZN,84.000000,84.000000,84.050003,82.470001,83.120003,62330000.0
3,2022-12-30,AMD,64.769997,64.769997,64.820000,63.139999,63.770000,37099800.0
4,2022-12-30,AAL,12.720000,12.720000,12.830000,12.530000,12.550000,18976200.0
5,2022-12-30,AAPL,129.929993,129.929993,129.949997,127.430000,128.410004,76960600.0
6,2022-12-30,T,18.410000,18.410000,18.480000,18.219999,18.420000,26200800.0
7,2022-12-30,BLK,708.630005,708.630005,712.909973,698.359985,708.289978,413000.0
8,2022-12-30,EA,122.180000,122.180000,122.330002,120.790001,121.779999,1164400.0
9,2022-12-30,EQIX,655.030029,655.030029,665.349976,648.229981,659.359985,268500.0

In [23]:
#importing company data
company_data_df = pd.read_csv("sp500_companies.csv")
company_data_df.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,135.94,2162547228672,1.305410e+11,0.081,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.060994
1,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,240.35,1804542935040,9.798300e+10,0.124,Redmond,WA,United States,221000.0,"Microsoft Corporation develops, licenses, and ...",0.050896
2,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,92.16,1187463168000,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.033492
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,91.29,1186322710528,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.033460
4,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,96.05,979873366016,5.154900e+10,0.147,Seattle,WA,United States,1544000.0,"Amazon.com, Inc. engages in the retail sale of...",0.027637

In [ ]:
# To Do:
# check column
# check for NAN values
# check data types for columns 
# in stock data df 
# drop adjusted close
# timeline of volume performance
# in company data cut down to 20 stocks check sector and industries to see how many times represented
#in company data drop ebitda,marketcap,Marketcap,Ebitda	Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weigh

In [24]:
#stock data clean up
stock_data_df.head()

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
0,2022-12-30,ADBE,336.529999,336.529999,336.640015,331.640015,333.000000,1740300.0
1,2022-12-30,MO,45.709999,45.709999,45.990002,45.419998,45.860001,5025200.0
2,2022-12-30,AMZN,84.000000,84.000000,84.050003,82.470001,83.120003,62330000.0
3,2022-12-30,AMD,64.769997,64.769997,64.820000,63.139999,63.770000,37099800.0
4,2022-12-30,AAL,12.720000,12.720000,12.830000,12.530000,12.550000,18976200.0

In [25]:
#checking data types
stock_data_df.dtypes

Date         datetime64[ns]
Symbol               object
Adj Close           float64
Close               float64
High                float64
Low                 float64
Open                float64
Volume              float64
dtype: object

In [29]:
#checking for nan values
stock_data_df.isnull().sum()

Date         2629
Symbol       2629
Adj Close    2629
Close        2629
High         2629
Low          2629
Open         2629
Volume       2629
dtype: int64

In [33]:
#Null values confirmed as spacing. Dropping null values
stock_data_df.dropna(inplace=True)

In [34]:
stock_data_df.isnull().sum()

Date         0
Symbol       0
Adj Close    0
Close        0
High         0
Low          0
Open         0
Volume       0
dtype: int64

In [35]:
#checking symbol unique values
stock_data_df["Symbol"].unique()

array(['ADBE', 'MO', 'AMZN', 'AMD', 'AAL', 'AAPL', 'T', 'BLK', 'EA',
       'EQIX', 'ABC', 'JPM', 'MU', 'F', 'GD', 'GPN', 'GS', 'HCA', 'HSY',
       'IBM'], dtype=object)

In [36]:
#dropping Adj Close column
stock_data_df = stock_data_df.drop("Adj Close",axis=1)

In [37]:
stock_data_df.head()

,Date,Symbol,Close,High,Low,Open,Volume
0,2022-12-30,ADBE,336.529999,336.640015,331.640015,333.000000,1740300.0
1,2022-12-30,MO,45.709999,45.990002,45.419998,45.860001,5025200.0
2,2022-12-30,AMZN,84.000000,84.050003,82.470001,83.120003,62330000.0
3,2022-12-30,AMD,64.769997,64.820000,63.139999,63.770000,37099800.0
4,2022-12-30,AAL,12.720000,12.830000,12.530000,12.550000,18976200.0

In [38]:
#dropping company data colummns
company_data_df.head()

,Exchange,Symbol,Shortname,Longname,Sector,Industry,Currentprice,Marketcap,Ebitda,Revenuegrowth,City,State,Country,Fulltimeemployees,Longbusinesssummary,Weight
0,NMS,AAPL,Apple Inc.,Apple Inc.,Technology,Consumer Electronics,135.94,2162547228672,1.305410e+11,0.081,Cupertino,CA,United States,164000.0,"Apple Inc. designs, manufactures, and markets ...",0.060994
1,NMS,MSFT,Microsoft Corporation,Microsoft Corporation,Technology,Software—Infrastructure,240.35,1804542935040,9.798300e+10,0.124,Redmond,WA,United States,221000.0,"Microsoft Corporation develops, licenses, and ...",0.050896
2,NMS,GOOG,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,92.16,1187463168000,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.033492
3,NMS,GOOGL,Alphabet Inc.,Alphabet Inc.,Communication Services,Internet Content & Information,91.29,1186322710528,9.373300e+10,0.061,Mountain View,CA,United States,186779.0,Alphabet Inc. provides various products and pl...,0.033460
4,NMS,AMZN,"Amazon.com, Inc.","Amazon.com, Inc.",Consumer Cyclical,Internet Retail,96.05,979873366016,5.154900e+10,0.147,Seattle,WA,United States,1544000.0,"Amazon.com, Inc. engages in the retail sale of...",0.027637

In [ ]:
company_data_df = company_data_df.drop(["Ebitda","Marketcap", "Revenuegrowth","City","State","Country","Fulltimeemployees","Longbusinesssummary","Weight"], axis=1)
#checking dropped columns
company_data_df.head(20)

In [48]:
#dropping long name column and current price
company_data_df = company_data_df.drop(["Longname","Currentprice"],axis=1)

In [57]:
company_data_df[company_data_df["Symbol"]==['ADBE', 'MO', 'AMZN', 'AMD', 'AAL', 'AAPL', 'T', 'BLK', 'EA',
       'EQIX', 'ABC', 'JPM', 'MU', 'F', 'GD', 'GPN', 'GS', 'HCA', 'HSY',
       'IBM']]

ValueError: ('Lengths must match to compare', (493,), (20,))

In [ ]:
#export to CSV

csv_file = pd.to_csv()